<h1>Courses</h1>

<% @courses.each do |course| %>
  <%= course.name %> <%= link_to 'Show', course %> <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Do you want to delete ?' } %><br>
<% end %>

<p>
  <%= link_to 'new', new_course_path%>
</p>

